# Prisma OpenSSL fix for Ubuntu
PRISMA_CLIENT_ENGINE_TYPE=library
# micro-notification service
NOTIFICATION_SERVICE_HOST=0.0.0.0
NOTIFICATION_SERVICE_PORT=5006
NOTIFICATION_SERVICE_HTTP_PORT=6006

# Database
SYSTEM_DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/postgres?schema=CARMEN_SYSTEM"

# Logging
APP_NAME=micro-notification
NODE_ENV=development
LOG_LEVEL=info

# Sentry
SENTRY_DSN=
