# Prisma OpenSSL fix for Ubuntu
PRISMA_CLIENT_ENGINE_TYPE=library
# micro-cronjob service
CRONJOB_SERVICE_HOST=0.0.0.0
CRONJOB_SERVICE_PORT=5012

# Database
CRONJOB_DB_URL="postgresql://user:password@127.0.0.1:5432/postgres?schema=CRONJOBS"

# Notification service (for sending notifications)
NOTIFICATION_SERVICE_HOST=127.0.0.1
NOTIFICATION_SERVICE_PORT=5006

# Logging (Loki)
LOKI_HOST=dev.blueledgers.com
LOKI_PORT=3998
LOKI_PROTOCOL=http
LOKI_USERNAME=
LOKI_PASSWORD=
APP_NAME=micro-cronjob
NODE_ENV=development